
.breadcrumb {
  background: #eee;
  border: 1px solid #ccc;
  border-right: none;
  display: table;
  margin: 10px;

  &__list-sizer {
    display: table-cell;
    vertical-align: top;
  }

  &__item--root,
  &__item--current {
    @extend .breadcrumb__item;
    white-space: nowrap;
  }

  &__list {
    display: table;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  &__item {
    display: table-cell;
    vertical-align: top;
  }

  &__text {
    border-right: 1px solid #ccc;
    box-sizing: border-box;
    display: block;
    height: 24px;
    padding: 4px;
  }

  &__link {
    @extend .breadcrumb__text;
    &:hover { background: #fff; }
  }

  &__list-link {
    @extend .breadcrumb__link;
    position: relative;
    text-align: center;

    &:before {
      @extend .breadcrumb__link;
      border: none;
      content: "\2026";
      display: inline-block;
      overflow: hidden;
      position: absolute;
        left: 0;
        top: 0;
      text-decoration: inherit;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
      z-index: 1;
    }

    &:after {
      content: "\2026";
      display: inline-block;
      visibility: hidden;
    }

    &:hover {
      z-index: 2;

      &:before {
        background: #fff;
        border-right: 1px solid #ccc;
        content: attr(title);
        overflow: visible;
        width: auto;
      }
    }

    @media (min-width: 768px) {
      text-align: left;

      &:before {
        content: attr(title);
      }

      &:after { display: none; }
    }
  }

  &__list-text {
    display: none;

    @media (min-width: 768px) {
      visibility: hidden;
      display: inline-block;
    }
  }
}
