.table--compare {
  border: 1px solid #ddd;
  margin-bottom: 1em;
}

.table--compare caption {
  border: inherit;
}

.table--compare thead {
  background: #ddd;
}

.table--compare tr:nth-child(even) {
  background: #eee;
}

.table--compare caption, .table--compare th, .table--compare td {
  padding: 10px 14px;
}

.table--compare th:first-child,
.table--compare td:first-child {
  border-right: 1px solid #ddd;
}

.table--compare thead th:first-child {
  border-color: #ccc;
}

.table--compare th {
  text-align: left;
}

.table--compare tbody th {
  font-size: 0.8em;
}

@media (max-width: 479px) {
  .table--compare thead {
    display: none;
  }
  .table--compare tr:nth-child(even) {
    background: none;
  }
  .table--compare td, .table--compare th {
    border-bottom: 1px solid #ddd;
    display: block;
    overflow: auto;
    text-align: right;
    float: left\9;
    width: 100%\9;
  }
  .table--compare th {
    background: #ddd;
    font-weight: bold;
    text-align: left;
  }
  .table--compare td:before {
    content: attr(title);
    display: inline-block;
    float: left;
    font-weight: bold;
    margin-right: 0.5em;
  }
}

.table--mount-column {
  margin-bottom: 1em;
  overflow: auto;
  border: 1px solid #ddd;
}

.table--mount-column table {
  width: 100%;
}

.table--mount-column caption {
  border: inherit;
}

.table--mount-column thead {
  background: #ddd;
}

.table--mount-column tr:nth-child(even) {
  background: #eee;
}

.table--mount-column caption, .table--mount-column th, .table--mount-column td {
  padding: 8px;
}

.table--mount-column td:first-child {
  font-size: 0.8em;
  font-weight: bold;
}

.table--mount-column th {
  text-align: left;
}

.table--mount-column tbody th {
  font-size: 0.8em;
}

@media (max-width: 767px) {
  .table--mount-column {
    content: "mount-column";
    border: 1px solid #ddd;
  }
  .table--mount-column caption {
    text-align: left;
  }
  .table--mount-column th, .table--mount-column td {
    white-space: nowrap;
    line-height: 24px;
  }
  .table--mount-column.is-active th, .table--mount-column.is-active td {
    white-space: normal;
    line-height: inherit;
  }
  .table--mount-column th:first-child {
    background: #ddd;
    border-right: 1px solid #ccc;
  }
  .table--mount-column td:first-child {
    background: #fff;
    border-right: 1px solid #ddd;
  }
  .table--mount-column tr:nth-child(even) td:first-child {
    background: #eee;
  }
  .table--mount-column th:first-child,
  .table--mount-column td:first-child {
    position: absolute;
    display: block;
    width: 100px;
    box-sizing: border-box;
  }
  .table--mount-column th:first-child + th,
  .table--mount-column th:first-child + td,
  .table--mount-column td:first-child + th,
  .table--mount-column td:first-child + td {
    padding-left: 110px;
  }
}
