/**
 * General settings
 */
body {
  font-size: 16px;
  margin: 2em 0;
  padding: 0;
}

/**
 * All media queries
 */
.xsmall {
  content: "xsmall";
}

.small {
  content: "small";
}

.medium {
  content: "medium";
}

.large {
  content: "large";
}

.xlarge {
  content: "xlarge";
}

.xlarge-only {
  content: "xlarge-only";
}

/**
 * Grid container
 */
.container, .container--no-gutter {
  *zoom: 1;
  max-width: 78.75em;
  margin-left: auto;
  margin-right: auto;
}

.container:before,
.container--no-gutter:before,
.container:after, .container--no-gutter:after {
  content: " ";
  display: table;
}

.container:after, .container--no-gutter:after {
  clear: both;
}

.container--no-gutter {
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}

/**
 * Grid columns
 */
.column--small {
  float: left;
  width: 100%;
  float: left;
  width: 50%;
  float: left;
  width: 25%;
}

.column--large {
  float: left;
  width: 100%;
  float: left;
  width: 50%;
}

/**
 * Column layouts / styles
 */
.column--has-gutter {
  margin-bottom: 20px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}

.column--no-gutter {
  background-color: #D5EAF0;
  margin-bottom: 20px;
}

.column--no-gutter img {
  width: 100%;
}

.column--no-gutter p {
  margin: 10px;
}

.border-wrapper {
  *zoom: 1;
  border-left: 1px solid #ccc;
}

.border-wrapper:before,
.border-wrapper:after {
  content: " ";
  display: table;
}

.border-wrapper:after {
  clear: both;
}

.column--border {
  border: 1px solid #ccc;
  border-left: none;
  margin-top: -1px;
  padding: 10px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 344px;
}

.column--border img {
  width: 100%;
}
