
.table--compare {
  border: 1px solid #ddd;
  margin-bottom: 1em;

  caption { border: inherit; }

  thead { background: #ddd; }

  tr:nth-child(even) { background: #eee; }

  caption, th, td { padding: 10px 14px; }

  th:first-child,
  td:first-child {
    border-right: 1px solid #ddd;
  }

  thead th:first-child { border-color: #ccc; }

  th { text-align: left; }

  tbody th { font-size: 0.8em; }

  @media (max-width: 479px) {
    thead { display: none; }

    tr:nth-child(even) { background: none; }

    td, th {
      border-bottom: 1px solid #ddd;
      display: block;
      overflow: auto; // avoid collapsing table cells when empty
      text-align: right;

      // Fix IE9
      float: left\9;
      width: 100%\9;
    }

    th {
      background: #ddd;
      font-weight: bold;
      text-align: left;
    }

    td:before {
      content: attr(title);
      display: inline-block;
      float: left;
      font-weight: bold;
      margin-right: 0.5em;
    }
  }
}

.table--mount-column {
  margin-bottom: 1em;
  overflow: auto;
  border: 1px solid #ddd;

  table { width: 100%; }

  caption { border: inherit; }

  thead { background: #ddd; }

  tr:nth-child(even) { background: #eee; }

  caption, th, td { padding: 8px; }

  td:first-child {
    font-size: 0.8em;
    font-weight: bold;
  }

  th { text-align: left; }

  tbody th { font-size: 0.8em; }

  @media (max-width: 767px) {
    content: "mount-column"; // For use with javascript
    border: 1px solid #ddd;

    caption { text-align: left; }

    th, td {
      white-space: nowrap;
      line-height: 24px;
    }

    &.is-active {
      th, td {
        white-space: normal;
        line-height: inherit;
      }
    }

    th:first-child {
      background: rgba(#ddd, 0.95);
      border-right: 1px solid #ccc;
    }

    td:first-child {
      background: rgba(#fff, 0.95);
      border-right: 1px solid #ddd;
    }

    tr:nth-child(even) td:first-child { background: rgba(#eee, 0.95); }

    th:first-child,
    td:first-child {
      box-sizing: border-box;
      display: block;
      overflow: hidden;
      position: absolute;
      text-overflow: ellipsis;
      width: 150px;

      + th,
      + td { padding-left: 160px; }
    }
  }
}
