
.table--compare {
  border: 1px solid #ddd;
  margin: 1em;

  thead {
    background: #ddd;
  }

  tr:nth-child(even) { background: #eee; }

  th, td {
    padding: 0.5em;
  }

  th {
    text-align: left;
  }

  tbody th {
    font-size: 0.8em;
  }

  @media (max-width: 479px) {
    thead { display: none; }

    tr:nth-child(even) { background: none; }

    td, th {
      border-bottom: 1px solid #ddd;
      display: block;
      overflow: auto; // avoid collapsing table cells when empty
      text-align: right;

      // Fix IE9
      float: left\9;
      width: 100%\9;
    }

    th {
      background: #ddd;
      font-weight: bold;
      text-align: left;
    }

    td:before {
      content: attr(title);
      display: inline-block;
      float: left;
      font-weight: bold;
      margin-right: 0.5em;
    }
  }
}

.table--mount-column {
  margin: 1em;
  overflow: auto;
  border: 1px solid #ddd;

  table {
    width: 100%;
  }

  thead {
    background: #ddd;
  }

  tr:nth-child(even) { background: #eee; }

  th, td {
    padding: 8px;
    line-height: 24px;
  }

  td:first-child {
    font-size: 0.8em;
    font-weight: bold;
  }

  th {
    text-align: left;
  }

  tbody th {
    font-size: 0.8em;
  }

  @media (max-width: 767px) {
    border: 1px solid #ddd;

    th, td {
      white-space: nowrap;
    }

    th:first-child {
      background: #ddd;
      border-right: 1px solid #ccc;
    }

    td:first-child {
      background: #fff;
      border-right: 1px solid #ddd;
    }

    tr:nth-child(even) td:first-child { background: #eee; }

    th:first-child,
    td:first-child {
      position: absolute;
      display: block;
      width: 100px;
      box-sizing: border-box;

      + th,
      + td {
        padding-left: 110px;
      }
    }
  }
}
